::ng-deep .owl-carousel .owl-nav button.owl-next,
::ng-deep .owl-carousel .owl-nav button.owl-prev,
::ng-deep .owl-carousel button.owl-dot {
  outline: none;
}

@media screen and (min-width: 960px) {
  ::ng-deep .mat-card-image {
    width: 40% !important;
  }
}

@media screen and (max-width: 959px) {
  ::ng-deep .mat-card-image {
    width: 100% !important;
  }
}

mat-card {
  margin: 10px;
}

img {
  display: block;
  margin: auto;
  height: auto;
}

.select-chart-button {
  width: 100%;
}

.chart-image-selected {
  width: 40%;
}
