<div id="lan-container">

  <h1 class="mat-headline lan-section-title">Détails</h1>
  <app-lan-details></app-lan-details>

  <h1 class="mat-headline lan-section-title">Places</h1>
  <app-lan-seats></app-lan-seats>

  <h1 class="mat-headline lan-section-title">Coordonnées</h1>
  <app-lan-coordinates></app-lan-coordinates>

  <h1 class="mat-headline lan-section-title">Règlements</h1>
  <app-lan-rules></app-lan-rules>

  <h1 class="mat-headline lan-section-title">Description</h1>
  <app-lan-description></app-lan-description>

</div>
