<footer>

    <!-- Nom de l'organisation et date -->
    <div fxFlex class="mat-body-1">
      <span>ADEPT Informatique ©{{currentDate | date:'yyyy'}}</span>
    </div>

    <!-- Version du client -->
    <div fxFlex class="version">
      <span class="mat-body-1">Version {{version}}</span>
    </div>

    <!-- Lien vers le répertoire du code sur Github  -->
    <div fxFlex class="mat-body-1 license">
      <span>Source sur
        <a class="no-decoration-on-primary" target="_blank"
           href="https://github.com/ADEPT-Informatique/lan.adeptinfo.ca/tree/master/client-admin">
          Github
        </a>
      </span>
    </div>

</footer>
