.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile mat-toolbar {
  position: fixed;
  z-index: 2;
}

mat-toolbar {
  height: 56px;
}

mat-nav-list {
  padding-top: 0;
}

.menu-item {
  margin-left: 15px;
}

.menu-item mat-icon {
  margin-right: 5px;
}

button.hamburger {
  z-index: 100;
}

.app-title-mobile {
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
}

.app-title mat-icon {
  margin-bottom: 3px;
  margin-right: 3px;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 55%;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

footer {
  padding: 12px;
  font-size: 12px;
  margin-top: 40px;
  background: #673ab7;
  color: white;
}

footer .items {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

footer .items .version {
  text-align: center;
}

footer .items .license {
  text-align: center;
}
