<div class="color-primary-background" id="welcome-statement">
  <h1 class="mat-h1 no-select">Console d'administration du LAN de l'ADEPT</h1>
  <h2 class="mat-h2 no-select">Ce site est réservé aux administrateurs du LAN de l'ADEPT</h2>

  <!-- Sélection du LAN courant -->
  <div class="select-current-lan-section">
    <div class="mat-display-1" id="select-current-lan-text">LAN courant :</div>
    <mat-form-field *ngIf="lansLoaded" id="select-lan-form">
      <mat-select (selectionChange)="setCurrentLan()" [(value)]="currentLan.id">
        <mat-option *ngFor="let lan of lans" [value]="lan.id">
          {{lan.date}}
          <mat-icon [matTooltip]="lan.name" class="select-lan-tooltip-icon" matTooltipPosition="below">help</mat-icon>
        </mat-option>
        <mat-select-trigger>
          {{currentLan.date}}
        </mat-select-trigger>
      </mat-select>
    </mat-form-field>
  </div>

</div>
