#welcome-statement {
  top: 20%;
  text-align: center;
  padding: 50px;
  color: white;
}

h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
  margin: 15px 5px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin: 15px 0 25px;
}

.select-current-lan-section {
  margin: 60px 0;
}

.select-current-lan-section > * {
  display: inline-block;
}

#select-lan-form {
  width: 245px;
}

.select-lan-tooltip-icon {
  position: absolute;
  right: 0;
  top: 17px;
  font-size: 30px;
}

mat-form-field {
  margin-left: 10px;
}

mat-select-trigger {
  color: white;
  font-size: 30px;
}

.select-current-lan-section ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(255, 255, 255, .42);
}

.select-current-lan-section ::ng-deep .mat-select-arrow {
  color: rgba(255, 255, 255, .54);
}

::ng-deep .mat-option-text {
  font-size: 30px;
}

mat-option {
  height: 4em !important;
}

#select-current-lan-text {
  margin: 0;
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 30px;
  }

}
