<mat-vertical-stepper [linear]="true" [ngClass.lt-md]="'scrollable-stepper'">

  <mat-step [stepControl]="detailsForm">
    <ng-template matStepLabel>Détails</ng-template>
    <app-create-lan-details></app-create-lan-details>
  </mat-step>

  <mat-step [stepControl]="seatsForm">
    <ng-template matStepLabel>Places</ng-template>
    <app-create-lan-seats></app-create-lan-seats>
  </mat-step>

  <mat-step [stepControl]="coordinatesForm">
    <ng-template matStepLabel>Coordonnées</ng-template>
    <app-create-lan-coordinates></app-create-lan-coordinates>
  </mat-step>

  <mat-step [stepControl]="rulesForm">
    <ng-template matStepLabel>Règlements</ng-template>
    <app-create-lan-rules></app-create-lan-rules>
  </mat-step>

  <mat-step [stepControl]="descriptionForm">
    <ng-template matStepLabel>Description</ng-template>
    <app-create-lan-description></app-create-lan-description>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Confirmation</ng-template>
    <button (click)="createLan()" color="primary" mat-raised-button>Créer le LAN</button>
  </mat-step>

</mat-vertical-stepper>
