<mat-vertical-stepper (selectionChange)="currentIndex = $event.selectedIndex" [linear]="true"
                      [ngClass.lt-md]="'scrollable-stepper'"
                      [selectedIndex]="currentIndex">

  <mat-step [stepControl]="detailsForm">
    <ng-template matStepLabel>Détails</ng-template>
    <app-lan-details></app-lan-details>
    <button class="stepper-button-next" color="primary" mat-raised-button matStepperNext>Suivant</button>
  </mat-step>

  <mat-step [stepControl]="seatsForm">
    <ng-template matStepLabel>Places</ng-template>
    <app-lan-seats></app-lan-seats>
    <button class="stepper-button-previous" color="primary" mat-raised-button matStepperPrevious>Précédent</button>
    <button class="stepper-button-next" color="primary" mat-raised-button matStepperNext>Suivant</button>
  </mat-step>

  <mat-step [stepControl]="coordinatesForm">
    <ng-template matStepLabel>Coordonnées</ng-template>
    <app-lan-coordinates></app-lan-coordinates>
    <button class="stepper-button-previous" color="primary" mat-raised-button matStepperPrevious>Précédent</button>
    <button class="stepper-button-next" color="primary" mat-raised-button matStepperNext>Suivant</button>
  </mat-step>

  <mat-step [stepControl]="rulesForm">
    <ng-template matStepLabel>Règlements</ng-template>
    <app-lan-rules></app-lan-rules>
    <button class="stepper-button-previous" color="primary" mat-raised-button matStepperPrevious>Précédent</button>
    <button class="stepper-button-next" color="primary" mat-raised-button matStepperNext>Suivant</button>
  </mat-step>

  <mat-step [stepControl]="descriptionForm">
    <ng-template matStepLabel>Description</ng-template>
    <app-lan-description></app-lan-description>
    <button class="stepper-button-previous" color="primary" mat-raised-button matStepperPrevious>Précédent</button>
    <button class="stepper-button-next" color="primary" mat-raised-button matStepperNext>Suivant</button>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Confirmation</ng-template>
    <mat-spinner *ngIf="isCreatingLan"></mat-spinner>
    <button (click)="createLan()" *ngIf="!isCreatingLan" color="primary"
            mat-raised-button>Créer le LAN
    </button>

    <!-- Message qui confirme la création du LAN -->
    <swal
      #createLanSuccessSwal
      [showCancelButton]="false"
      text="'Le LAN a bien été créé!'"
      title="C'est réussi!"
      type="success">
    </swal>

    <!-- Affichage des erreurs du serveur si elles existent -->
    <div *ngIf="errors" id="lan-creation-errors">
      <span class="mat-headline" id="lan-creation-errors-title">Erreurs</span>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let error of errors.message | keyvalue">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ getErrorTitle(error.key)}}
            </mat-panel-title>
            <mat-panel-description>
              {{error.value.length}} erreur{{error.value.length > 1 ? 's' : ''}}.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <button (click)="gotoError(error.key)" *ngFor="let e of error.value" mat-button>
            <span>{{e}}</span>
            <mat-icon class="lan-creation-errors-icon">edit</mat-icon>
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-step>

</mat-vertical-stepper>
