<mat-vertical-stepper [linear]="false" [ngClass.lt-md]="'scrollable-stepper'">

  <mat-step [stepControl]="detailsForm">
    <ng-template matStepLabel>Détails</ng-template>
    <app-create-lan-details></app-create-lan-details>
  </mat-step>

  <mat-step [stepControl]="seatsForm">
    <ng-template matStepLabel>seats.io</ng-template>
    <app-create-lan-seats></app-create-lan-seats>
  </mat-step>

  <mat-step [stepControl]="coordinatesForm">
    <ng-template matStepLabel>Coordonnées</ng-template>
    <app-create-lan-coordinates></app-create-lan-coordinates>
  </mat-step>

</mat-vertical-stepper>
