::ng-deep .stepper-button-next {
  float: right;
  margin-top: 10px;
}

::ng-deep .stepper-button-previous {
  float: left;
  margin-top: 10px;
}

.scrollable-stepper {
  overflow-y: scroll;
  height: 600px;
}
