@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.color-primary-text {
  color: #673ab7;
}

.color-accent-text {
  color: #ffd740;
}

.color-primary-background {
  background-color: #673ab7;
}

.color-accent-background {
  background-color: #ffd740;
}

body {
  margin: 0;
}

a.no-decoration-on-primary {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a.no-decoration-on-primary:visited {
  text-decoration: none;
  color: white;
}

a.no-decoration-on-primary:hover, a.no-decoration-on-primary:active {
  text-decoration: underline;
  color: white
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.swal2-title, #swal2-content {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
